[Unit]
Description=Valheim Service
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=${username}
Group=${username}
WorkingDirectory=/home/${username}/valheim
ExecStartPre=/home/${username}/steam/steamcmd.sh +login anonymous +force_install_dir /home/${username}/valheim +app_update 896660 +quit
ExecStart=/home/${username}/valheim/bootstrap_valheim.sh
KillSignal=SIGINT
ExecStopPost=/home/${username}/valheim/backup_valheim.sh
